@model IEnumerable<AnswerPoortal.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My orders</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tokenNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tokenPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>


    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tokenNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tokenPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>

    </tr>
}

</table>
